Repository imranbarbhuiya/decancer, pull requests merged in 2022-10, with the labels that each got.

#47 test: migrate to vitest
  jest.config.mjs
  package.json
  tests/tsconfig.json
  tsconfig.eslint.json
  vitest.config.ts
  yarn.lock
Labels: hacktoberfest-accepted, tests

#49 feat: cancer percentage
  README.md
  src/lib/cancerPercentage.ts
  src/lib/index.ts
  tests/cancerPercentage.test.ts
Labels: feature

#52 docs: add docs for all the fns
  .vscode/settings.json
  README.md
  src/index.ts
  src/lib/cancerPercentage.ts
  src/lib/decancer.ts
  src/lib/index.ts
  src/lib/isCancerous.ts
Labels: documentation

#53 test: add browser test
  .github/workflows/continuous-integration.yml
  package.json
  tests/browser.test.ts
  tsconfig.typecheck.json
  yarn.lock
Labels: tests
